page-login {

.login-content{
      background: #197ba5;
}

img{
			margin-top:30px;
			   margin-left: 70px;
			width: 120px;
     margin: 0 auto;
	}	

.img-box{
text-align: center;
background: #ffffff;
	}

p {
  color: #ffffff;
    font-size: 150%;
}

.login-box {
      background: #47b7cf;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
     text-align: center;
}

ion-item {
         border-radius: 30px !important;
         padding-left: 30px !important;
         font-size: 0.9em;
         margin-bottom: 10px;
         border: 1px solid #ffffff;
         border-bottom: 0px !important;
         box-shadow: none !important;
}

.submit-btn {
       background: #ffffff;
       color:#47b7cf;
       border-radius: 30px !important;
       border: 1px solid #ffffff;
     }
}
