page-sertificates {

.liste_eleve {

    // background: #f9f9f9;
    // border: 3px solid color($colors, dark);
}

.ion-content{

background: #197ba5;

}	
 .ion-item { 
          background: #f9f9f9;
//         font-weight: bold;
     }
.card-header {
            font-size: 2.0rem;
      	    font-weight: bold;
}
}
